:root {
    --text-clr: #000;
    --background-clr: #fff;
    --orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --ver-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}
*, *::before, *::after {
    background: var(--background-clr);
    color: var(--text-clr);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.card-container {
    display: flex;
}

.card {
    
}